body {
    text-align: center;
    background-image: linear-gradient(indigo, cyan, goldenrod, darkred);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: monospace;
}

button {
    border: 3px solid black;
    border-radius: 15%;
    background-image: radial-gradient(purple, black);
    color: silver;
}

h1 {
    color: yellow;
}

#showContact {
    display: none;
}

input {
    background-color: black;
    color: silver;
    border: 2px solid black;
    border-radius: 10%;
    text-align: center;
    margin: 5px;
}

li {
    list-style: none;
}

li:hover {
    cursor: pointer;
}